.container {
  width: 800px;
  margin: 0 auto;
  background-color: #dddd;
  padding: 20px;
  min-height: 100vh;
}

.nav-items {
  display: flex;
  background-color: #248114;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-item {
  padding: 2px 12px;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
}
